body{
    background-color: black;
}

.navigation-items{
    color: #ffffff;
}

a:link{
    color:#ffffff;
}

a:visited{
    color: #ffffff;
}

.logo{
    color: #ffffff;
}

h1{
    color: #ffffff;
}

p{
    color: #ffffff;
}